@charset "UTF-8";



*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
  --box-padding: 2rem;
  --box-margin: 2rem;
  
} 
   
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Oswald", sans-serif;
  background-color: #f1f0d6;
  color: #f1f0d6;
  margin: 1rem;
}

section {
  background-size: cover;
  background-position: left top;
  margin-top: 1rem;
}

header {
  background-image: linear-gradient(to right bottom, rgba(187, 112, 70, 0.8), #6b2b0659), url(../img/header-background.jpg);
  background-size: cover;
  background-position: left top;
  transition: none;
}

header > img {
  display: none;
}

#how-it-works {
  background-image: linear-gradient(to right bottom, rgba(187, 112, 70, 0.8), #6b2b0659), url(../img/cow-background-2.jpg);
}

#products {
  background-image: linear-gradient(to right bottom, rgba(187, 112, 70, 0.8), #6b2b0659), url(../img/cow-background.jpg);
}

/* Repeated code flag */

.container {
  height: 95vh;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}

/* You're using nested containers with a confusing name */

.row {
  display: flex;
  flex-flow: row;
  width: auto;
  justify-content: space-evenly;
  align-items: center;
}

.column {
  flex-flow: column;
}




/* Navbar */
.navbar {
 
  background: transparent;
  font-size: 2rem;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  height: 6rem;
  z-index: 1;
}

.navbar > a {
  align-items: center;
  display: flex;
  color: #f1f0d6;
  margin-right: var(--box-margin);
  padding: var(--box-padding);
}

.navbar > a:hover {
  background: #f1f0d6;
  color: #9e5f3b;
  
}

.navbar > a:first-child {
  flex: 2;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar > a:last-child {
  margin-right: 0;
}

.fixed .navbar {
  background: #9e5f3b;
  position: fixed;
  width: calc(100% - 2rem);
  top: 0;
  box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.20);
}

.navbar-section {
  display: flex;
  align-items: center;
  height: auto;
  margin: 0 2rem;
  white-space: nowrap;
}

.burger{
  fill: #f1f0d6;
  display: block;
  width: 8rem;
  height: inherit;
  padding: 1rem;
}

.burger:hover {
  fill: #9e5f3b;
  background: #f1f0d6;
}

/* Heading */
.heading {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  display: block;
  color: #f1f0d6;
}
.heading-sub {
  font-size: 4rem;
}
.heading-section {
  display: flex;
  font-size: 4rem;
  font-weight: 600;
  flex-flow: column;
  align-items: start;
  background: #9e5f3b;
  padding: var(--box-padding);
  margin-top: var(--box-margin);
  box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.20);
}


.heading-section > span {
  font-size: 3rem;
  font-weight: 300;
}
.heading-primary {
  font-size: 10rem;
  font-weight: 600;
  text-align: left;
}
.heading-primary:only-child {
  background-color: #f1f0d6;
  color: #9e5f3b;
  padding: 4rem;
  box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.20);
  font-weight: 300;
}
/* Find a better way to code this, it shifs on media query activation unless you hard-code it */
.heading-primary + .heading-sub {
  padding-left: 6rem;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  white-space: nowrap;
}


.card-box {
  display: flex;
  height: auto;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-flow: column;
  width: 20rem;
  height: 28rem;
  margin: var(--box-margin);
  background: #9e5f3b;
  box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.20);
  transition: none;
}

.card-title {
  height: 4rem;
  font-size: 3rem;
  display: flex;
  font-weight: bold;
  margin: var(--box-padding);
}

.card-image {
  height: 10rem;
}

.card-text {
  height: 6rem;
  margin: var(--box-margin);
  font-size: 2rem;
  text-align: center;
  font-weight: 300;
}

.paragraph {
  font-size: 2rem;
  padding: var(--box-padding);
  background: #f1f0d6;
  margin: 2rem;
  text-align: justify;
  font-weight: lighter;
  width: 40rem;
  box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.20);
  color: #9e5f3b;
}

.capitalize {
  font-size: 4rem;
  font-weight: bold;
}

.author {
  font-style: normal;
  font-weight: 700;
}



footer {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
  height: 35vh;
  background: #3b2214;
}

.footer-container {
  display: flex;
  flex: 1;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: var(--box-padding);
}


.footer-text {
  font-size: 2rem;
  text-align: center;
}

.form-inline {
 display: block;
 height: 6rem;
 margin: var(--box-margin);
}

input {
  border: none;
  background: #9e5f3b;
  height: inherit;
  font-size: 2rem;
  color: #f1f0d6;
  font-family: "Oswald", sans-serif;
  padding: 0 var(--box-padding);
  box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.20);
}

input:hover {
  background: #f1f0d6;
  color: #9e5f3b;
}

iframe {
  margin: var(--box-margin);
}

@media (max-width: 1000px) {
  
   footer {
    flex-flow: column;
  }
 
  iframe {
    height: auto;
    width: auto;
    box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.20);
  }
  
}
@media (max-width: 856px) {
  html {
    font-size: 50%;
  }
 
  footer {
    height: 40vh;
  }

  .form-inline {
    height: 8rem;
  }

  .row {
    flex-flow: column;
  }

  .card {
    flex-flow: row;
    width: 100%;
    height: auto;
  }

  .card-box {
    flex-wrap: nowrap;
    flex-flow: column;
  }

  .navbar > a {
    display: none;
  }
  
  .burger {
    display: block;

  }
}

@media (max-width: 500px) {
  .heading-primary {
    font-size: 8rem;
    text-align: center;
  }
  .heading-sub {
    font-size: 3rem;
    text-align: center;
  }
  .heading-primary + .heading-sub {
    padding: 0;
  }
}