@charset "UTF-8";
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Playfair Display", serif;
  background-color: #f4f1bb;
}

a {
  color: inherit;
}

#header, #products, #how-it-works {
  height: 95vh;
}

#header {
  background: linear-gradient(to right bottom, rgba(187, 112, 70, 0.8), #6b2b06), url(../img/header-background.jpg);
  background-size: cover;
  background-position: left top;
  color: #f4f1bb;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 91% 100%, 0 100%);
}

#how-it-works {
  background: linear-gradient(to right bottom, rgba(187, 112, 70, 0.9), #6b2b06);
  color: #f4f1bb;
  margin-top: 4rem;
}

#products {
  background: #01161e;
  background: linear-gradient(to right bottom, #01161e, #034862);
  color: #f4f1bb;
  margin-top: 4rem;
}

.container {
  padding: 5rem 2rem;
  height: inherit;
}
.container-column {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}
.container-row {
  display: flex;
  flex-flow: row;
  width: auto;
  justify-content: space-around;
  align-items: center;
}
.container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 6fr;
  grid-template-areas: "grid-section-heading grid-section-heading" "grid-left-content grid-right-content";
  height: inherit;
  gap: 2rem;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}

.content {
  height: 85%;
}

.grid-section-heading {
  grid-area: grid-section-heading;
}

.grid-left-content {
  grid-area: grid-left-content;
}

.grid-right-content {
  grid-area: grid-right-content;
}

.navbar {
  font-family: "Oswald", sans-serif;
  background-color: transparent;
  color: #f4f1bb;
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 7rem;
  width: 100vw;
  animation: fadeIn 1.5s 0.3s ease-in backwards;
  z-index: 1;
}
.navbar-section {
  display: flex;
  align-items: center;
  height: auto;
  margin: 0 2rem;
  white-space: nowrap;
}
.navbar-logo {
  height: 5rem;
  margin-left: 0.2rem;
}
.navbar-logo-text {
  font-weight: 100;
  font-size: 2.4rem;
  text-transform: uppercase;
  text-decoration: none;
}

.heading {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  display: block;
  color: #f4f1bb;
}
.heading-sub {
  font-size: 4rem;
}
.heading-section {
  display: flex;
  flex-flow: column;
  font-size: 5rem;
  font-weight: 600;
  margin-left: 2rem;
}
.heading-section-left {
  align-items: flex-start;
  padding-left: 1rem;
  border-left: solid #f4f1bb 4rem;
}
.heading-section-right {
  align-items: flex-end;
  padding-right: 1rem;
  border-right: solid #f4f1bb 4rem;
}
.heading-section > span {
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
.heading-primary {
  font-size: 10rem;
  font-weight: 600;
  text-align: left;
}
.heading-primary:only-child {
  background-color: #f4f1bb;
  color: rgba(107, 43, 6, 0.75);
  padding: 5rem;
}
.heading-primary + .heading-sub {
  padding-left: 8rem;
}

.btn {
  text-decoration: none;
  font-size: 1.6rem;
  white-space: nowrap;
  height: auto;
  padding: 2.5rem;
  text-transform: uppercase;
  font-weight: 200;
}
.btn::after {
  content: "";
  display: block;
  position: relative;
  background-color: #f4f1bb;
  width: 0%;
  transition: width 0.3s ease-in;
  top: 0.4rem;
  height: 0.2rem;
}
.btn:hover::after {
  width: 100%;
  transition: width 0.3s ease-in;
}

.card-box {
  display: flex;
  height: 85%;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  display: flex;
  flex-flow: column;
  width: 20rem;
  height: 28rem;
  margin: 1rem;
  background-color: bisque;
}

.card-title {
  justify-content: center;
  align-items: center;
  height: 4rem;
  display: flex;
}

.card-image {
  height: 10rem;
}

.card-text {
  height: 6rem;
  margin: 1rem 1rem;
}

.paragraph {
  font-size: 2rem;
  text-align: left;
  margin: 4rem;
}

.arrow {
  justify-self: center;
  animation: fadeIn 1.5s 0.6s ease-in backwards;
}
.arrow-animated {
  animation: beat 5s infinite;
}

/* State*/
.is-full-height {
  height: 95vh;
}

/* Animations */
@keyframes beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Clasificar cada regla de css en sus respectivos archivos scss y aparecerán aquí */

/*# sourceMappingURL=style.css.map */
