/* General */

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    /* Change root font size to 10px - 6.25% */
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* Variables */
:root {
    --header-white: rgb(255, 255, 255);
}


/* Navbar */


.navbar {
    background-color: transparent;
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 5rem;
    width: 100vw;
}

.navbar__section {
    display: flex;
    align-items: center;
    height: auto;
}

.btn {
    text-decoration: none;
    font-size: 1rem;
    color: var(--header-white);
    white-space: nowrap;
    height: auto;
    padding: 1.5rem;
}

.btn::after {
    content: "";
    display: block;
    position: relative;
    background: var(--header-white);
    width: 100%;
    transition: width .5s ease-in;
    top: 5px;
    height: 1px;
}

.btn:hover::after {
    width: 0%;
    transition: width 0.5s ease-out;
}


.navbar__left__text {
    font-size: 1.6em;
    font-family: 'Pacifico', cursive;
    color: var(--header-white);
    text-decoration: none;
}


.navbar__logo {
    width: 3.1300rem;
    margin: 1.5rem;
}


/* Header*/



.header {
    background: linear-gradient(to right bottom,
        rgba(134, 42, 0, 0.8),
        rgba(82, 26, 0, 0.8)),
        url(img/stijn-te-strake-316914-unsplash.jpg);
    background-size: cover;
    background-position: left top;
    display: grid;
    height: 90vh;
    place-content: center;
}

.header__element {
    display: grid;
    height: 70vh;
    place-content: center;
    width: auto;
}

.header__element::after {
    content: "";
    position: relative;
    border-bottom: solid 2px var(--header-white);
    width: 20rem;
    padding-bottom: 2rem;
    justify-self: center;
}

.header__text {
    font-family: "Playfair Display", serif;
    color: var(--header-white);
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
}

.header__text--primary {
    display: block;
    font-size: 3.3rem;
}

.header__text--sub {
    font-size: 5rem;
    display: block;
}

.main-link-arrow {
    justify-self: center;
}

.arrow {
    height: auto;
    width: 30px;
    animation: beat 5s infinite;
}


/* Animations */

@keyframes beat {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.8);
    }
}

/* Media queries */

/* General media queries */

@media (max-width: 720px) {

    .logo-link,
    .navbar__section-right {
        display: none;
    }

    :root {
        font-size: 12px;
    }
}

@media (max-width: 480px) {

    .logo {
        width: 3.5em;
    }

    :root {
        font-size: 10px;
    }
}


/* Other */


.navbar__section-toggle {
    display: flex;
    flex-flow: column;
    align-items: end;
}