/* General */


/*   
*** Primary color:   

   shade 0 = #521A00 = rgb( 82, 26,  0) = rgba( 82, 26,  0,1) = rgb0(0.322,0.102,0)
   shade 1 = #A65936 = rgb(166, 89, 54) = rgba(166, 89, 54,1) = rgb0(0.651,0.349,0.212)
   shade 2 = #793313 = rgb(121, 51, 19) = rgba(121, 51, 19,1) = rgb0(0.475,0.2,0.075)
   shade 3 = #300F00 = rgb( 48, 15,  0) = rgba( 48, 15,  0,1) = rgb0(0.188,0.059,0)
   shade 4 = #150700 = rgb( 21,  7,  0) = rgba( 21,  7,  0,1) = rgb0(0.082,0.027,0)

*** Complement color:

   shade 0 = #003722 = rgb(  0, 55, 34) = rgba(  0, 55, 34,1) = rgb0(0,0.216,0.133)
   shade 1 = #247054 = rgb( 36,112, 84) = rgba( 36,112, 84,1) = rgb0(0.141,0.439,0.329)
   shade 2 = #0D5238 = rgb( 13, 82, 56) = rgba( 13, 82, 56,1) = rgb0(0.051,0.322,0.22)
   shade 3 = #002114 = rgb(  0, 33, 20) = rgba(  0, 33, 20,1) = rgb0(0,0.129,0.078)
   shade 4 = #000E09 = rgb(  0, 14,  9) = rgba(  0, 14,  9,1) = rgb0(0,0.055,0.035)


*/

@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700|Playfair+Display:400,700,900');

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: "Oswald", sans-serif;
}


/* Variables */
:root {
    --header-white: rgb(255, 255, 255);
    --brown-lighter: rgb(166, 89, 54);
    --brown-light: rgb(121, 51, 19);
    --brown: rgb( 82, 26,  0);
    --brown-dark: rgb( 48, 15,  0);
    --brown-darker: rgb( 21,  7,  0);
}


/* Navbar */


.navbar {
    background-color: transparent;
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 7rem;
    width: 100vw;
}

.navbar__section {
    display: flex;
    align-items: center;
    height: auto;
    margin: 0 2rem;
}

.btn {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--header-white);
    white-space: nowrap;
    height: auto;
    padding: 2.5rem;
    font-weight: 100;
}

.btn::after {
    content: "";
    display: block;
    position: relative;
    background: var(--header-white);
    width: 100%;
    transition: width .5s ease-in;
    top: .4rem;
    height: .2rem;
}

.btn:hover::after {
    width: 0%;
    transition: width 0.5s ease-out;
}


.navbar__left__text {
    font-weight: 100;
    font-size: 2.4rem;
    font-family: 'Oswald', serif;
    text-transform: uppercase;
    white-space: nowrap;
    color: var(--header-white);
    text-decoration: none;
}


.navbar__logo {
    height: 5rem;
    margin-left: 0.2rem;
}


/* Header*/



.header {
    background: linear-gradient(to right bottom, rgba(121, 51, 19, 0.84), rgb(82, 26, 0)), url(img/stijn-te-strake-316914-unsplash.jpg);
    background-size: cover;
    background-position: left top;
    display: grid;
    height: 95vh;
    place-content: center;
}

.header__element {
    display: grid;
    height: 70vh;
    place-content: center;
    width: auto;
}

.header__element::after {
    content: "";
    position: relative;
    border-bottom: solid 0.2rem var(--header-white);
    width: 25rem;
    padding-bottom: 3.2rem;
    justify-self: center;
}

.header__text {
    font-family: "Playfair Display", serif;
    color: var(--header-white);
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
}

.header__text--primary {
    display: block;
    font-size: 5.3rem;
}

.header__text--sub {
    font-size:8rem;
    display: block;
}

.arrow {
    justify-self: center;
}

.arrow__img {
    height: auto;
    width: 3rem;
    animation: beat 5s infinite;
}


/* Main body */ 

.main__section {
        height: 90vh;
    }



/* Animations */

@keyframes beat {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.8);
    }
}

/* Media queries */


@media (max-width: 720px) {

    html {
        font-size: 50%
    }

    .navbar__left__text,
    .navbar__section-right {
        display: none;
    }

}

@media (max-width: 480px) {

    html {
        font-size: 40%
    }

    .logo {
        width: 5.6em;
    }

}

@media (max-width: 320px) {

    html {
        font-size: 35%
    }

}


/* Other */


.navbar__section-toggle {
    display: flex;
    flex-flow: column;
    align-items: end;
}