/* General */
 
    /* Separar cada clase entre base, modulos, states, layout y themes y colocarlos en sus archivos scss correspondiente
    luego exportar cada uno a un archivo scss principal que luego se compila a CSS con sass -watch */


@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700|Playfair+Display:400,700,900');

/* base */

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: "Playfair Display", serif;
}

a {
    color: inherit;
}

/* Variables */
:root {
    --gray-light: #EFEFEF;
    --gray-normal: #C1C1C1;
    --gray-dark: #959393;
    --header-white: rgb(255, 255, 255);
    --brown-lighter: rgb(166, 89, 54);
    --brown-light: rgb(121, 51, 19);
    --brown: rgb(82, 26, 0);
    --brown-dark: rgb(48, 15, 0);
    --brown-darker: rgb(21, 7, 0);
    /* copiar la paleta nueva, mover a base.scss */
}


/* Navbar */




/* Modules */

/* Navbar (responsive's broken, will be fixed on new mobile-first media queries rewrite) */

.navbar {
    background-color: transparent;
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 7rem;
    width: 100vw;
    animation: fadeIn 1.5s .3s ease-in backwards;

}

.navbar-section {
    display: flex;
    align-items: center;
    height: auto;
    margin: 0 2rem;
    white-space: nowrap;
}

.navbar-logo-text {
    font-weight: 100;
    font-size: 2.4rem;
    font-family: 'Oswald', serif;
    text-transform: uppercase;
    text-decoration: none;
}


.navbar-logo {
    height: 5rem;
    margin-left: 0.2rem;
}

/* Button */

.btn {
    text-decoration: none;
    font-size: 1.6rem;
    white-space: nowrap;
    height: auto;
    padding: 2.5rem;
    font-weight: 600;
}

.btn::after {
    content: "";
    display: block;
    position: relative;
    /* background-color: variable here, otherwise won't work; */
    width: 0%;
    transition: width .3s ease-in;
    top: .4rem;
    height: .2rem;
}

.btn:hover::after {
    width: 100%;
    transition: width 0.3s ease-in;
}

 /* Container, centers its child */

.container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

}


.header {
    background: linear-gradient(to right bottom, rgba(187, 112, 70, 0.9), rgb(107, 43, 6)), url(img/stijn-te-strake-316914-unsplash.jpg);
    background-size: cover;
    background-position: left top;
    color: rgba(244, 241, 187, 1); 
    /* Buscar una variación más clara del color de linear-gradient para que sea visible superpuesta a la imágen. */
}

.heading {
    animation: fadeIn 1.5s ease-in backwards;
}

.is-full-height {
    height: 95vh;
}

.heading::after {
    content: "";
    display: block;
    margin: auto;
    border-bottom: solid 0.2rem;
    width: 20rem;
    padding-bottom: 3rem;
   
}

.heading-text {
    font-family: "Playfair Display", serif;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    display: block;
}

.heading-sub {
    font-size: 5.2rem;
}

.heading-primary {
    font-size: 8rem;
    
}

.header-arrow {
    justify-self: center;
    animation: fadeIn 1.5s .6s ease-in backwards;

}

.arrow-animated {
    animation: beat 5s infinite;
}




.main {
   background-color: rgba(37, 22, 5, 1);
}

/* Animations */

@keyframes beat {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.8);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* Media queries */
/* Rewrite media queries, mobile first */

@media (max-width: 720px) {

    html {
        font-size: 50%
    }

    .navbar-left-text,
    .navbar-section-right {
        display: none;
    }

}

@media (max-width: 480px) {

    html {
        font-size: 40%
    }

    .logo {
        width: 5.6em;
    }

}

@media (max-width: 320px) {

    html {
        font-size: 35%
    }

}


/* State*/


.navbar-section--menutoggle {
    display: flex;
    flex-flow: column;
    align-items: end;
}