// Container, centers its child.

.container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.container-row {
    @extend %container;
    flex-flow: row;
}