// Container

.container {
    padding: 2rem;

    &-flex {
        display: flex;
        height: 95%;
        flex-flow: row;
        justify-content: space-around;
        align-items: center;
    }

    &-row {
        display: flex;
        flex-flow: row;
        width: 95vw;
        justify-content: space-around;
        align-items: center;
    }

    &-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 6fr;
            grid-template-areas:
             "grid-section-heading grid-section-heading"
             "grid-left-content grid-right-content";
        height: inherit;
        gap: 2rem;
        padding: 2rem;
        justify-content: center;
        align-items: center;
      }
}

.grid-section-heading { grid-area: grid-section-heading; }
.grid-left-content { grid-area: grid-left-content; }
.grid-right-content { grid-area: grid-right-content; }

