// Basic two-section grid container

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "text-content image-content";
  }
  
  .text-content { grid-area: text-content; }
  
  .image-content { grid-area: image-content; }