// Basic two-section grid container

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 6fr;
        grid-template-areas:
         "heading-text heading-text"
         "text-content image-content";
    height: inherit;
    justify-content: center;
    align-items: center;
  }
   
.heading-text { grid-area: heading-text; }
.text-content { grid-area: text-content; }
.image-content { grid-area: image-content; }