// Base

// Variables

// Palette

$color1: rgba(37, 22, 5, 1);
$color2: rgb(241, 240, 214);
$color3: rgba(107, 43, 6, 1);
$color4: rgba(219, 207, 192, 1);
$color5: rgba(201, 138, 66, 1);

// Basics

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Playfair Display", serif;
  background-color: $color2;
}

a {
  color: inherit;
}
 
#header, #products, #how-it-works {
  height: 95vh;
}

#header {
  background: linear-gradient(
      to right bottom,
      rgba(187, 112, 70, 0.8),
      rgb(107, 43, 6)
    ),
    url(../img/header-background.jpg);
  color:$color2;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 91% 100%, 0 100%);
  background-size: cover;
  background-position: left top; 
}

#how-it-works {
  background: linear-gradient(to right bottom, rgba(187, 112, 70, 0.8), #6b2b0659),
  url(../img/cow-background-2.jpg);
   background-size: cover;
  background-position: left top; 
  color: $color2;
  margin-top: 4rem;
  
}

#products {
  background: url(../img/cow-background.jpg);
  background-size: cover;
  background-position: left top; 
  color: $color2;
  margin-top: 4rem;
}

// #products {
//     background: linear-gradient(to right, rgba(37, 22, 5, 1), rgba(49, 36, 20, 0.5));
//     color: $color4;
// }
