// Heading text module and submodules

.heading {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  display: block;
  color: $color2;
  &-sub {
    font-size: 4rem;
  }
  &-section {
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    display: flex;
    flex-flow: column;
    font-size: 5rem;
    font-weight: 600;
    margin-left: 2rem;
    &-left {
      align-items: flex-start;
      padding-left: 1rem;
      border-left: solid $color2 4rem;
    }
    &-right {
      align-items: flex-end;
      padding-right: 1rem;
      border-right: solid $color2 4rem;
    }
    & > span {
      font-size: 2rem;
      font-family: "Lato", sans-serif;
      font-weight: 300;
    }
  }
  &-primary {
    font-size: 10rem;
    font-weight: 600;
    text-align: left;
    &:only-child {
      background-color: $color2;
      color: rgba(107, 43, 6, 0.75);
      padding: 5rem;
    }
    & + .heading-sub {
      padding-left: 8rem;
    }
  }
}
