// Fixed, flex-based navbar and navbar sections 
// (Responsive's broken, will be fixed on new mobile-first media queries rewrite)
.navbar {
    font-family: "Oswald", sans-serif;
    background-color: transparent;
    color: $color2;
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 7rem;
    width: 100vw;
    animation: fadeIn 1.5s .3s ease-in backwards;
    z-index: 1;
    
    //Navbar section containers. Usually two for left and right.

    &-section {
        display: flex;
        align-items: center;
        height: auto;
        margin: 0 2rem;
        white-space: nowrap;
    }

    &-logo {
        height: 5rem;
        margin-left: 0.2rem;

        &-text {
            font-weight: 100;
            font-size: 2.4rem;
            text-transform: uppercase;
            text-decoration: none;
        }
    }
}

