.section {
    height: 95vh;

    &-header {
        background: linear-gradient(to right bottom, rgb(107, 43, 6), rgba(187, 112, 70, 0.9)), url(img/stijn-te-strake-316914-unsplash.jpg);
        background-size: cover;
        background-position: left top;
        color: $color2;
    }

    &-main {
        background-color: $color1;
    }
}